.top_container{
    position: relative;
    padding-top: 80px;
}
body{
    margin:0;
    text-align: center;
    font-family: 'Merriweather', serif;

}
.profile{
    ;

}
h1{
    margin: 0;
    font-family: 'Sacramento',cursive;
    font-size: 5.625rem;
    margin :40px auto 0 auto;
    color: #66BFBF;
}
.middle_container{

}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    margin-top: 0;
    color: #66BFBF;
    font-weight: normal;
}
p{
    color:#11999E;
}
.skill-row{
    width:35%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.web_img{
    width:25%;
    float: left;
    margin-right:30px;
}
.data_img{
    width :25%;
    float:right;
    margin-left:30px
}
.bottom_container{

}
.bottom_cloud{
    position: absolute;
    bottom: 300px;
    left: 400px;
}
.top_cloud{
    position: absolute;
    right:400px;
    top:50px
}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
